<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar with Background</title>
    <link rel="stylesheet" href="assets/css/navbar.css">

</head>

<body>
    <div id="logo">
        <img src="assets/img/TED_LOGOwBG.png" alt="Teddiursa Airlines Logo" draggable="false">
    </div>

    <div class="text">
        <div id="tagline">
            Not Just a Flight. A Leap Into the Universe.
        </div>
        <div id="contInfo">
            <h3>Contact Information:</h3>
            <p>teddairlines@gmail.com  |  0912-343-5352</p>
        </div>
    </div>

    <script src="assets/js/navbar.js"></script>
</body>
</html>